<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    
  </head>
  <body>
    <div class="container">
      <h1 class="buzz">Buzz Finder</h1>
      
      <h2>Search for nearby coffee shops!</h2>

      <form action="/" method="post">
      
        <div id="locationField">
          <input id="autocomplete" placeholder="Enter an address or city" type="text"></input>
          <!-- <input type="button" onclick="resetSearchBox()" value="Reset form"> -->
        </div>

        <button type="reset">Clear Search Box</button>
      </form>

      <div id="results">
          <ol id="places"></ol>
      </div>
    </div>

  </body>
</html>
