<html>
  <head>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    
  </head>
  <body>
    
    <div id="locationField">
      <input id="autocomplete" placeholder="Enter your address" type="text"></input>
    </div>

    <!-- <ul id="results"></ul> -->

   <!--  <div id="listing">
      <table id="resultsTable">
        <tbody id="results"></tbody>
      </table>
    </div> -->

    <div id="results">
        <ul id="places"></ul>
      <!-- <button id="more">More results</button> -->
    </div>


  </body>
</html>
